@font-face { 
    font-family: 'Condensed-Light'; 
    src: url('../fonts/OpenSansCondensed-Light.ttf');
    font-weight: normal; 
    font-style: normal; 
}

@font-face { 
    font-family: 'Condensed-Bold'; 
    src: url('../fonts/OpenSansCondensed-Bold.ttf');
    font-weight: normal; 
    font-style: normal; 
}

@keyframes to-wide-to-narrow{
    0%{
        width: 530px;
    }

    50%{
        width: 730px;
    }

    100%{
        width: 530px;
    }
}

@keyframes search-button-sizing {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(0.9);
    }

    100%{
        transform: scale(1);
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Condensed-Light';
    font-size: 22px;
    user-select: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 80px;
}

.logo-block{
    display: flex;
    justify-content: space-between;
    width: 530px;
    margin-bottom: 30px;
    animation-name: to-wide-to-narrow;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.logo-block :nth-child(3){
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 80%);
}

.logo-block :last-child{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%, 0 100%);
}

.text-input{
    min-width: 300px;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}

.text-input:focus{
    border-color: rgb(201, 1, 1);
    box-shadow: 0 0 4px 1px  rgb(201, 1, 1);
}

.search-button{
    min-width: 100px;
    font-family: "Condensed-Bold";
    padding: 0.5rem 3rem;
    cursor: pointer;
    background-color: rgb(0, 202, 0);
    border-radius: 6px;
    border: none;
    color: honeydew;
    transform: scale(1);
}

.search-button:hover{
    animation-name:  search-button-sizing;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    border: 2px double rgb(1, 107, 1);
    transition: border 0.4s, color 0.5s;
    color: black;
}